<section class=" cart py-14">

 <% if(session.cart) { %>
    <!-- Order placed cart page-->
    <div class="order container mx-auto xl:w-1/2 height-3000px">
        <div class="flex iems-center border-b border-gray-300 mb-4">
            <img src="\img\cart-black.png">
            <h1 class="font-bold text-3xl ml-3">Order Summary</h1>
            
        </div>

        <div>
           <div class="pizza-list">
            <!--applies loop here-->
            <% for(let pizza of Object.values(session.cart.items) ) { %>

               <div class="items-center flex my-8">
                   <img src="\img\<%=pizza.item.image%>" class="w-24" alt="image of pizza">
                   <div class="ml-4 flex-1 ">
                       <h1><%=pizza.item.name%></h1>
                       <span ><%=pizza.item.size%></span>
                   </div>
                   <span class="flex-1"><%=pizza.qty%> Pcs</span>
                   <span class="font-bold text-large">Rs. <%=(pizza.item.price)*(pizza.qty)%></span>
               </div>

            <% }%>
           
             <hr>
             <!-- Now address and Form filling-->

             <div class="text-right py-4"> 
                 
                            <div>
                                <span class="text-xl font-bold">Total Amount:</span>
                                <span class="amount text-2xl font-bold ml-2 " >Rs.<%=session.cart.totalPrice%></span>                    
                            </div>
                      <% if(user) {%>
                        <div>
                            <form action="/orders" method="POST" class="mt-12">
                            
                              <div>
                               <input 
                               name="phone"
                               class="border-b border-gray-400 py-2 w-1/2 mb-4 rounded-full" type="text" placeholder="   Phone number">
                              </div>

                            <div>
                                <input
                                name="address"
                                 class="border-b border-gray-400 py-2 w-1/2 mb-4 rounded-full" type="text" placeholder="   Address">
                            </div>
                          

                            <div>
                                <button class="text-xl text-white font-bold mt-6 px-6 py-2 btn-primary rounded-full" type="Submit" >Order It!!</button>
                                
                            </div>

                            </form>
                        </div>
                      
                           <% }else{  %>
                        <a href="/login" class="text-xl text-white font-bold mt-6 px-6 py-2 btn-primary rounded-full" type="Submit"   >Login To Continue</a>
                        <% } %>
             </div>

        </div>

    </div>
    <%} else{ %>
    <div class="empty-cart py-14">
        <div class=" container mx-auto py-6 text-center"> 
            <h1 class="text-3xl font-bold mb-2">Cart Empty ,Fill it!</h1>
            
            <p class="text-gray-500 mb-12 "> You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to the main page.</p>
            
            <img class="w-2/5 mx-auto" src="\img\empty-cart.png">


            <a href="/" class="inline-block text-red px-6 py-2 btn-primary rounded-full text-black font-bold mt-12 border-orange-300">Go to Home</a>

        </div>
    </div>

<%  } %>
</section>